:root {
  --primary-font: Arial, sans-serif;
  --background-color: #181818;
  --secondary-background-color: #242323;
  --text-color: #fff;
  --secondary-color: #1db954;
  --grey-color: #b3b3b3;
  --button-border-radius: 20px;
  
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 40px;
  
  --margin-small: 2px;
  --margin-medium: 10px;
  --margin-large: 20px;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-size-xlarge: 48px;

  --track-height: 40px;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-medium);
}

.artist-profile {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  position: relative;
}

.profile-image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: flex-end;
  padding: var(--padding-medium);
  box-sizing: border-box;
}

.artist-info {
  color: var(--text-color);
}

.verified-container {
  display: flex;
  align-items: center;
  margin-left: var(--margin-medium);
}

.verified-container img {
  width: 20px;
  height: 20px;
  margin-right: var(--margin-small);
}

.artist-name {
  font-size: var(--font-size-xlarge);
  margin: var(--margin-medium);
}

.monthly-listeners {
  font-size: var(--font-size-small);
  color: var(--text-color);
  margin-left: var(--margin-medium);
}

.albums {
  width: 100%;
  background-color: var(--background-color);
}

.album {
  background-color: var(--background-color);
  margin-bottom: var(--margin-large);
  padding: var(--padding-medium);
  color: var(--text-color);
}

.album-header {
  display: flex;
}

.album-image {
  width: 136px;
  height: 136px;
}

.album-info {
  margin-left: var(--margin-medium);
  display: flex;
  flex-direction: column;
}

.album-title {
  font-size: var(--font-size-large);
}

.album-year {
  font-size: var(--font-size-small);
  color: var(--grey-color);
}

.album-actions {
  display: flex;
  margin-top: var(--margin-small);
}

.album-action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: var(--margin-small);
}

.tracks {
  margin-top: var(--margin-large);
}

.tracks-table {
  display: flex;
  flex-direction: column;
}

.track {
  display: flex;
  padding: var(--padding-small);
  margin-top: var(--margin-large);
}

.track-header {
  border-bottom: 1px solid var(--grey-color);
}

.track-number {
  padding: var(--padding-small);
  margin: var(--margin-small);
}

.track-title {
  padding: var(--padding-small);
  margin: var(--margin-small);
  width: 80%;
}

.track-duration {
  width: 10%;
  display: flex;
  padding: var(--padding-small);
  margin: var(--margin-small);
}

.track:hover {
  background-color: #333333;
}

.buttons-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-top: var(--margin-medium);
  margin-left: var(--margin-medium);
}

.play-button {
  width: var(--track-height);
  height: var(--track-height);
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.play-button:hover {
  transform: scale(1.1);
}

.play-button img {
  width: 20px;
  height: 20px;
}

.follow-button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: var(--button-border-radius);
  padding: var(--padding-small) var(--padding-large);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.follow-button:hover {
  transform: scale(1.1);
}

.more-button {
  background-color: transparent;
  border: none;
  color: var(--grey-color);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.more-button:hover {
  transform: scale(1.1);
}

.more-button img {
  width: 24px;
  height: 24px;
}

.empty-state {
  padding: var(--padding-medium);
  text-align: center;
  color: #777;
  font-size: 5em;
}